<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Smart Greenhouse management system</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <!--<h1 id="head">Smart Greenhouse management system</h1>-->
    <div id='head'>
          <img src="/static/Capture.JPG" alt="Smart Greenhouse management system" width="600" height="60">
    </div>
    <br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- start collapsed navbar-->
            <div class="navbar-header">
                <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#main_navbar"
                aria-expanded="false">Menu</button>
            </div><!-- / collapsed navbar-->

            <!-- start un-collapsed navbar-->
            <div
            class="collapse navbar-collapse"
            id="main_navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="https://btechproject.pythonanywhere.com/">Home</a></li>
                    <li><a href="/ota">Number of modules</a></li>
                    <li><a href="/rfadr">RF channel address</a></li>
                    <li><a href="/field">Thingspeak Field number</a></li>
                    <li><a href="/param">Trends</a></li>
                </ul>
            </div><!-- / un-collapsed navbar-->

        </div> <!-- /container -->
    </nav>
    <!-- start breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="https://btechproject.pythonanywhere.com/">Home</a></li>
        <li><a href="{% url 'field:index' %}">Thingspeak Field number</a></li>
        <li><a href="{% url 'field:details' %}">Latest update</a></li>
    </ol>
    <!-- / breadcrumb -->
    <p>
        Latest updated Thingspeak field numbers:<br>
        Moisture: {{ moisture }}<br>
        Temperature: {{ temperature }}<br>
        Humidity: {{ humidity }}<br>
        Light intensity: {{ light }}<br>
    </p>
    <p>
        <a href="{% url 'field:editfld' %}">Add field numbers for latest added module</a>
    </p>
    <div>
        <a href='https://btechproject.pythonanywhere.com/'>Home</a>
    </div>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
  </body>
</html>