<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Smart Greenhouse management system</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body id='max'>
      <h1 id='head'>Smart Greenhouse management system</h1>
      <h2>Dashboard</h2>
      <div>
          <div class="col-lg-6">
              <h3>Temperature:</h3>
              <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1163782/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&api_key=SGHJ1SNKD31PONN9&title=Temperature&type=line"></iframe>
          </div>
          <div class="col-lg-6">
              <h3>Humidity:</h3>
              <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1163782/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&api_key=SGHJ1SNKD31PONN9&title=Humidity&type=line"></iframe>
          </div>
      </div>
      <div>
          <div class="col-lg-6">
              <h3>Moisture:</h3>
              <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1163782/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&api_key=SGHJ1SNKD31PONN9&title=Moisture&type=line"></iframe>
          </div>
          <div class="col-lg-6">
              <h3>Flow:</h3>
              <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1163782/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=5&api_key=SGHJ1SNKD31PONN9&title=Flow&type=line"></iframe>
          </div>
      </div>
      <div>
          <a href="http://btechproject.pythonanywhere.com/ota/">Update number of modules</a>
      </div>
      <div>
          For detailed dashboard and dashboard settings
          <a href='https://thingspeak.com/channels/1163782/private_show'>Click Here</a>
          (Login required)
      </div>
      <div>
          <a href='https://btechproject.pythonanywhere.com/'>Home</a>
      </div>
  </body>
</html>